/*Nav*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: $lower;
    height: 55px;

    li {
      float: left;
    }

    a {
      color: #3B9D86;
    }

    .nav-item {
      display: block;
      text-align: center;
      padding: 6px 16px;
      text-decoration: none;
    }

  .nav-items {
    width: 100px;
    margin-top: -7px;
  }

  .nav-btn{
    list-style: none;
    display: inline;
  }

  #cart {
    margin-left: 270px;
    margin-top: -4px;
  }
}


/* SECTIONS FOR COMPONENTS */
.section-container {
    max-width: 1040px;
    margin: 0 auto;
    padding-left: $standard;
    padding-right: $standard;

    .section-title {
      color: $teal;
      font-family: $main;
      font-weight: 100;
      text-align: left;
      padding: 0 30px 5px 110px;
      float: left;
      clear: both;
      font-size: 20px;
    }

    .section-content {
      margin-top: 20px;
      width: 100%;
      max-width: 670px;
      float: right;
      margin-right: 90px;

      p { padding-bottom: 15px; }

      img {
        margin-top: -8px;
        padding-right: 4px;
      }
    }
}


/*/*STORE - HEADER */
.store-container {
  margin: 0 auto;
  max-width: 300px;

  .store-info {
    min-height: 220px;
    background-color: white;
    box-shadow: $all;
  }
    .store-title {
      color: $teal;
      font-family: $title;
      font-weight: 100;
      font-size: 70px;
      text-align: center;
    }
      .store-image {
        width: 230px;
        margin-left: 45px;
    }
}


/* SELLER SECTION */
.seller-container {
    margin: 0 auto;
    font-family: $main;
    font-weight: $light;
    text-align: center;
    float: left;
    padding-left: 230px;
}

.intro-container {
  display: flex;
  box-shadow: $all;
  height: 220px;
  overflow: hidden;
  margin: 5px 100px;

  div {
    flex: 1;
    text-align: center;
    background-color: white;
    max-height: 220px;
    font-weight: $light;

    #about-text {
      width: 230px;
      margin: 0 auto;
    }
  }

    .seller-title {
      color: $teal;
      font-family: $title;
      font-weight: 100;
      font-size: 45px;
      margin-bottom: 1px;
    }
}

/*PRODUCTS*/
.gallery {
    width: 90%;
    margin: 0 auto;
    
    .products-header {
      text-align: center;
      padding: 25px;
      color: $navy;
      padding-bottom: -20px;

      .item-toolbar {
        height: 57px;
        width: 90%;
        margin: 0 auto;
      }

      .search-products {
          width: 40%;
          float: left;
          border-radius: 20px;
          box-shadow: 0 0 5px lightgrey;
          border: 2px solid white;
          margin-top: 50px;
          height: 40px;
          font-size: 15px;
          padding-top: 10px;
          transition:1s ease-out;

          &:hover {
            background-color:white;
            border: 1px solid $seafoam;
            opacity: 0.8;
            transition: 1s ease-out;
            left: 0;
          }
        }

        #sort-by {
          width: 35%;
          float: right;
          padding-top: 1px;
        }

        .sort-icon {
          margin-left: 5px;
          margin-right: 7px;

          &:hover {

          }
        }
    }

    .products {
      padding: 0;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: left;
      justify-content: center;

      img {
        margin:11px;
        width: 190px;
        height: 280px;
        box-shadow: $all;

        &:hover {
          cursor: pointer;
        }
      }
  }

    .more-products {
      display: none;
    }
}

#see-more-btn {
  padding: 20px;
  text-align: center; 
}

/* VERIFICATION /REVIEWS*/
.verified-purchase {
  float: right;
  display: inline-block;
  padding-right: 20px;
}

.caption-right {
  float: right;
  font-weight: 500;
  padding: 2px;
}

#silk-road {
        float: left;
        padding: 7px;
        width: 180px;
      }



#approval { 
  font-size: 12px;
  width: 95px;
  background-color: white;
  border: 1px solid $grey;
  border-radius: 5px;
}

#approval-rating {
  font-size: 12px;
}

.rating {
  padding-bottom: 10px;
}

@media (max-width: 1070px) {

/* CSS styles for viewports 1000px and under */  
  .section-container {
    margin-top: 20px;
    width: 100%;
    max-width: 580px;
    margin-left: 310px;
    display: block;

    .section-content {
      margin-top: 20px;
      width: 120%;
      float: right;
      margin: 0 auto;
    }

    .long-divider {
      width: 660px;
      margin: 0;
    }

    .section-title {
      color: #23A4AE;
      font-family: "Work Sans", sans-serif;
      font-weight: 100;
      clear: both;
      font-size: 25px;
      margin-left:40px;
    }
  }
} 


